<h1>Drilldown#index</h1>
<h2>Please Choose A More Specific Area</h2>
 
<% if @category == "sleep" %>
    <%= render "sleep" %>


<% elsif @category == "health" %>
    <%= render "health" %>

<% end %>
