
  <section class="section">
    <div class="container">
      <h1 class="title has-text-white">
         Please Choose A More Specific Area

      </h1>

      <ul class="progressbar">
            <li class="active">Category</li>
            <li class="active">Drilldown</li>
            <li>Questions</li>
            <li>Recommendation</li>
      </ul> 

      <h3 class="subtitle has-text-white">
         Please choose only 4 options
      </h3>
    
  
<br>
<br>

    

<%= form_tag( '/drilldown/form' , remote: true, method: 'post') do |f| %>

        <div class="flex-container">
        
          <% @drilldowns.each do |drilldown| %>
            
              <div id="check-button">
                <label>
                  <%= check_box_tag "drilldown[]", drilldown.drilldown_name %>
                  <span> <%= "#{drilldown.category_name} #{drilldown.drilldown_name}" %> </span>
                </label>
              </div>           
            
          <% end %>
        
          
                
    </div>
    <br>
    <button class="button is-link is-rounded ">
        Next
    </button>
<% end %>
</div>
</section>
