
<div class="background-wall">
<section class="hero is-fullheight" >
  <div class="hero-body">
    <div class="container has-text-centered">
        <div class="logo">
        </div>
    <div class="text-format">
      <h1 class="title has-text-white">
        Home page
      </h1>
      <h2 class="subtitle has-text-white">
        Hey there,please enter your email address for more updates:
      </h2>
      <br>

        <div class="container">
            <%= form_tag( '/home/form' , remote: true, method: 'post') do |f| %>
                <p>
                    <%= label_tag "Email Address:" %>
                    <div class="email">
                        <input class="input" name ="email" type="email" placeholder="youremail@domain.com">
                    </div>
                    <div class="submit-button">
                        <button class="button is-success submit is-fullwidth">Log In</button>
                    </div>
                </p>
            <% end %>                
        </div>
        </div>
    </div>
  </div>
</section>
</div>