  <h3 class="title is-3">Edit Question</h3>
   <%= form_for @edit_question do |form| %> 
    <table class="table">
      <thead>
        <tr>
          <th><abbr title="Category Name">Category Name</abbr></th>
           <th><abbr title="Drilldown Name">Drilldown Name</abbr></th>
           <th><abbr title="Question Name">Question Name</abbr></th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= form.text_field :category_name %> </td>
          <td> <%= form.text_field :drilldown_name %></td>
          <td> <%= form.text_field :question %></td>
          <td> 
          <div id="button-format">
          <button class="button is-success submit"> Update</button>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
   <% end %>

