  <h3 class="title is-3 has-text-white">Create New Question</h3>
   <%= form_with model: @question_admin,url: {action: "create"} do |form| %> 
    <table class="table">
      <thead>
        <tr>
          <th><abbr title="Drilldown Name">Drilldown Name</abbr></th>
          <th><abbr title="Question">Question</abbr></th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= form.text_field :drilldown_name %></td>
          <td> <%= form.text_field :question %></td>
          <td> 
          <button class="button is-success submit">Create</button>
          </td>
        </tr>
        </tbody>
    </table>
   <% end %>
  
