
<ol>
  <% category_list = Category.find_by_sql ["SELECT name FROM categories WHERE user_id = ?", User.last.id] %>
  <% category_list.each do |x|  %>
    <li>
        <%=  x.name %>
    </li>
    <% end %>
</ol>

