<ol>
  <% question_list = Question.find_by_sql ["SELECT name,rating FROM questions WHERE user_id = ?", User.last.id] %>
  <% question_list.each do |x|  %>
    <li>
        <%= x.name %>: with a rating of  <%= x.rating %>
    </li>
    <% end %>
</ol>