
  <section class="section">
    <div class="container">
      <h1 class="title">
         Based On The Given Input

      </h1>
      <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
          <li><a href="/category" >Category</a></li>
          <li ><a href="/drilldown" >Drilldown</a></li>
          <li ><a href="/questions" >Questions</a></li>
          <li class="is-active"><a href="/reccomendation" aria-current="page">Recommendation</a></li>
        </ul>
      </nav>
    </div>
  </section>

    <div class="container">

      <p class="subtitle">
       <strong>The Smartest Reccomendation For You Would Be For You To Have The Honour Of Consuming The Following Products </strong>
       <div class = "column">
       <%= render "products" %>
       </div>
        <br>
       The Smart Reccomendation Engine Has Faith In You & The Reccomended Products.<strong>Good Luck </strong>.

      </p>
      <br>

       <div class = "columns">
        <div class = "column">
          <p class="subtitle">
          <strong> The Categories you have chosen: </strong>
          <div class = "column">
          <%= render partial: "categories", locals: {category_list: @category} %>
          </div>
          </p>
        </div>

      <div class = "column">
        <p class="subtitle">
        <strong>The Drilldowns for the chosen Categories:</strong>
        <div class = "column">
        <%= render partial: "drilldowns", locals: {drilldown_list: @drilldown} %>
        </div>
        </p>
      </div>

      <div class = "column">
        <p class="subtitle">
        <strong>The Questions and their ratings for the selected drilldowns:</strong>
        <div class = "column">
        <%= render partial: "questions", locals: {questions_list: @questions} %>
        </div>
        </p>
      </div> 
    </div>

</div>
  
