<h1>Based On The Given Input</h1>
<p>The Smartest Reccomendation For You Would Be For You To Have The Honour Of Consuming The Following Products</p>


    <%= render "products" %>

<p>The Smart Reccomendation Engine Has Faith In You & The Reccomended Products.Good Luck.