<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Drilldown Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
         Based On The Given Input

      </h1>
      <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
          <li><a href="/category/index" >Category</a></li>
          <li ><a href="/drilldown/index" >Drilldown</a></li>
          <li ><a href="/questions/index" >Questions</a></li>
          <li class="is-active"><a href="/reccomendation/index" aria-current="page">Reccomendation</a></li>
        </ul>
      </nav>
    </div>
  </section>

    <div class="container">

<p class="subtitle">
       The Smartest Reccomendation For You Would Be For You To Have The Honour Of Consuming The Following Products
       <div class = "column"
       <%= render "products" %>
       </div>
        <br>
       The Smart Reccomendation Engine Has Faith In You & The Reccomended Products.<strong>Good Luck </strong>.

      </p>

</div>
  </body>
</html>
