/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

html 
{
    background-image: url(bubble-quiz-blur.jpg) ;
    background-size: cover;
}

h1.title
{
font-family: Gilroy;
}

.subtitle
{
font-family: Opensans;
}


nav.breadcrumb li.is-active a {
    color:white;
  }
  
  nav.breadcrumb a {
    color: turquoise;
  }
  
  nav.breadcrumb a:hover{
    text-decoration: underline;
    color: white;
  }

  .white-text{
    color: white;
    font-family: Opensans;
  }
  
  .white-text strong {
    color: white;
    font-family: Opensans;
  }

  #check-button label span{

    display: inline-block;
    /* width: auto; */
    padding: 15px;
    margin-bottom: 10%;
    border-radius: 100px;
    color: #fff;
    background-color: rgba(0,0,0, .30);
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    text-align: center;
    transition: all 0.5s ease-out;
      }
  
   #check-button label input{
      display: none;
    }

  
    #check-button label input:checked + span {
        color: steelblue;
        background-color: white;
        transition: all 0.3s ease-in;
    }

  button.button.is-link
  {
    width: 240px;
  }
  
